@model TreinTickets.ViewModels.RitVM

@{
    ViewData["Title"] = "Search";
}

<h1>BestelPagina</h1>

<h4>RitVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Search">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VertrekStad" class="control-label">From</label>
                <select asp-for="VertrekStad" asp-items="@ViewBag.StadList" class="form-control">
                    <option disabled selected>Select city</option>
                </select>
                <span asp-validation-for="VertrekStad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BestemmingsStad" class="control-label">To</label>
                <select asp-for="BestemmingsStad" asp-items="@ViewBag.StadList" class="form-control">
                    <option disabled selected>Select city</option>
                </select>
                <span asp-validation-for="BestemmingsStad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VertrekDag" class="control-label">Departure</label>
                <input asp-for="VertrekDag" class="form-control" />
                <span asp-validation-for="VertrekDag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TreinKlasse" class="control-label">class</label>
                <select asp-for="TreinKlasse" asp-items="@ViewBag.Klasses" class="form-control">
                    <option disabled selected>Select class</option>
                </select>
                <span asp-validation-for="VertrekStad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
