@{
    ViewData["Title"] = "Algemene info";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <br />
    <hr />
    <div style="display: inline-block;width: 540px;text-align: initial;font-size: 20px; vertical-align: top">
        <p>Op deze website is het mogelijk om een treinticket te boeken
        tussen 7 verschillende steden.
        Deze steden zijn: Londen, Brussel, Parijs, Amsterdam, Rome, Berlijn en Moskou.
        Er reidt elke dag 1 trein naar elke bestemming.</p>

        <p>De afbeelding hiernaast toont de steden met hun verbindingen</p>

        <p>Voor elke stad zijn er 3 hotels beschikbaar waaruit u eventueel kan kiezen,
        ze hebben elk een verschillende prijsklasse.</p>
    </div>
    <img src="~/img/StedenOpKaartImg.png" style="width: 635px;margin-left: 10px;"/>
</div>

