html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.layout {
    width: 100%;
}

.Title {
    font-weight: bold;
    font-size: 65px;
}

.IconBox {
    border-width: thick;
    border-color: black;
    border-style: solid;
    width: 1000px;
    margin: auto;
    margin-bottom: 5px;
}

.Icon {
    width: 150px;
    height: 150px;
    vertical-align: middle;
}

.IconText {
    margin-right: auto;
    vertical-align: middle;
    font-weight: bold;
    font-size: 50px;
    margin-left: 115px;

}

.ImgSpoor {
    height: 100%;
    width:130px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.column1, .column3 {
    width: 130px;
    margin-left: 20px;
    margin-right: 20px;
}

.column2 {
    flex: 1;
    margin-left: 80px;
    margin-right:80px
}